<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>modelos</h1>
  <ion-item>
    <ion-label position="floating">Digite sua pesquisa</ion-label>
    <ion-input [(ngModel)]='pesquisa'type="text"></ion-input>
  </ion-item>
  <ion-button (click)="recuperar()" expand="full">pesquisar</ion-button>

  <br><br>
  <strong>entrada do input capturada com método [(ngModel)]: </strong>{{pesquisa}}
  <br><br>
  <strong>input tratado para manipulação da aplicação: </strong> {{resultado}}

  <h1>navegação</h1>
  <ion-button (click)="acao1()">botão</ion-button>
  <ion-button (click)="acao2()">lista</ion-button>
  <br><br>


 <h1>Data Biding (ligação de dados)</h1> 


  <h1>{{titulo}}</h1>
  <h4>event biding</h4>

  <ion-button (click)="acao()">botão</ion-button>

  <ion-item>
    <ion-label position="floating">seu nome:</ion-label>
    <ion-input (input)="atualiza()"></ion-input>
  </ion-item>

  <h4>Property biding</h4>
  <ion-img [src]="imagemCelular"></ion-img>


  <h4>String interpolation</h4>



  <ion-img src="{{imagemRandomica}}"></ion-img>
  


</ion-content>
